<dl>
    <dt>
        <label for="keywords_{type.keywords -> f:count()}_keyword">Keywords:</label>
    </dt>
    <dd>             
        <ol>            
            <f:for each="{type.keywords}" as="keyword" key="i">
                <li>{keyword}</li>                                 
            </f:for> 
            <li class="autoadd" data-autoadd='{"selector":"input.autoadd-listen","event":"change"}'>
                <f:form.textfield property="keywords.{type.keywords -> f:count()}.keyword" id="keywords_{type.keywords -> f:count()}_keyword" class="autoadd-listen" />
                <f:form.hidden  property="keywords.{type.keywords -> f:count()}.type" value="{type}" />
				<f:form.hidden  property="keywords.{type.keywords -> f:count()}.typeId" value="{type.title}" />
            </li>                        
        </ol>
    </dd>            
</dl>