<?xml version="1.0" encoding="UTF-8"?>
<f:layout name="Page.html" />

<f:section name="content">
    <h2>Edit a Source</h2>
    <div id="content">
        <f:form action="update" name="source" object="{source}">
            <f:render partial="Source/Form" arguments="{source:source,types:types,implementations:implementations}"/>
            <f:form.submit name="submit" value="Save & back" />
            <f:form.submit name="redirectButton[{f:uri.action(action:'edit',arguments:{source : source})}]" value="Save & continue" />
            <f:form.submit name="redirectButton[{f:uri.action(action:'view',arguments:{source : source})}]" value="Save & preview" />
        </f:form>
    </div>
</f:section>

<f:section name="right">
    <f:render partial="Account/Login" />
</f:section>
