{namespace e=Org\Gucken\Events\ViewHelpers}
<?xml version="1.0" encoding="UTF-8"?>
<f:layout name="Page.html" />

<f:section name="content">
    <h2>Source: {source.name}</h2>
    <div id="content">
        <dl>
            <dt>Name:</dt>
            <dd>{source.name}</dd>

            <dt>Implementation</dt>
            <dd>{source.implementationClass}</dd>

            <dt>Parameters</dt>
            <f:for each="{source.parameterProperties}" key="key" as="property">
                <dd><strong>{key}:</strong> {property}</dd>
            </f:for>
			
            <dt>Log:</dt>
            <dd>
                <table>
					<thead>
						<tr>
							<th>Date</th>
							<th>Imported</th>
							<th>Duplicates</th>
							<th>Messages</th>
							<th>Errors</th>
						</tr>
					</thead>
					<tbody>
						<f:for each="{source.logEntries}" as="logEntry">
							<tr>
								<td>{logEntry.startTime -> f:format.date(format:'d.m.y H:i')}</td>
								<td>{logEntry.importCount}</td>
								<td>{logEntry.duplicateCount}</td>
								<td>
									<a rel="#messages_{e:identifier(object:logEntry)}" title="Messages" class="tooltipTrigger">
										<f:count subject="{logEntry.messages}" />
									</a>
									<ul class="tooltip" id="messages_{e:identifier(object:logEntry)}">
										<f:for each="{logEntry.messages}" as="line">
											<li>{line}</li>
										</f:for>
									</ul>
								</td>
								<td>
									<a rel="#errors_{e:identifier(object:logEntry)}" title="Errors" class="tooltipTrigger">
										<f:count subject="{logEntry.errors}" />
									</a>
									<ul class="tooltip" id="errors_{e:identifier(object:logEntry)}">
										<f:for each="{logEntry.errors}" as="line">
											<li>{line}</li>
										</f:for>
									</ul>
								</td>
							</tr>
						</f:for>						
					</tbody>
				</table>
			</dd>
			
			
            <dt>Events:</dt>
            <dd>
                <ul>
                    <f:for each="{source.eventFactoids}" as="eventFactoid">
						<li>
							<h5>
								<f:link.external uri="{eventFactoid.url}">
								{eventFactoid.startDateTime -> f:format.date(format:'d.m.y H:i')}:
								{eventFactoid.title}
								</f:link.external>
							</h5>
							<p><b>{eventFactoid.shortDescription}</b></p>
							<pre>{eventFactoid.description}</pre>
							<pre>{eventFactoid.location.name}</pre>
						</li>
                    </f:for>
                </ul>
            </dd>
        </dl>
    </div>
</f:section>
<f:section name="right">---</f:section>
