.tx-felogin-pi1
label{display:block}.tx-eventcollab-pi2
h2{margin-top:0px;margin-bottom:0px}DIV.csc-textpic-caption-c .csc-textpic-caption{text-align:center}DIV.csc-textpic-caption-r .csc-textpic-caption{text-align:right}DIV.csc-textpic-caption-l .csc-textpic-caption{text-align:left}DIV.csc-textpic DIV.csc-textpic-imagecolumn{float:left;display:inline}DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image
IMG{border:2px
solid black;padding:0px
0px}DIV.csc-textpic-imagewrap{padding:0}DIV.csc-textpic
IMG{border:none}DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image{float:left}DIV.csc-textpic DIV.csc-textpic-imagewrap
UL{list-style:none;margin:0;padding:0}DIV.csc-textpic DIV.csc-textpic-imagewrap UL
LI{float:left;margin:0;padding:0}DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image{float:left}DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image
DT{float:none}DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image
DD{float:none}DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD
IMG{border:none}DL.csc-textpic-image{margin:0}DL.csc-textpic-image
DT{margin:0;display:inline}DL.csc-textpic-image
DD{margin:0}DIV.csc-textpic-clear{clear:both}DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image{display:inline;margin-right:10px}DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image{display:inline;margin-left:10px}DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image{display:inline;margin-left:10px}DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption{margin:0}DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image
IMG{margin:0}DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image{margin-bottom:5px}DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow{margin-bottom:5px;display:block}DIV.csc-textpic DIV.csc-textpic-imagerow{clear:both}DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol{margin-left:0px !important}DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol{margin-right:0px !important}DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap{margin-right:10px !important}DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap{margin-left:10px !important}DIV.csc-textpic-above DIV.csc-textpic-text{clear:both}DIV.csc-textpic-center{text-align:center}DIV.csc-textpic-center DIV.csc-textpic-imagewrap{margin:0
auto}DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image{text-align:left}DIV.csc-textpic-center DIV.csc-textpic-text{text-align:left}DIV.csc-textpic-right DIV.csc-textpic-imagewrap{float:right}DIV.csc-textpic-right DIV.csc-textpic-text{clear:right}DIV.csc-textpic-left DIV.csc-textpic-imagewrap{float:left}DIV.csc-textpic-left DIV.csc-textpic-text{clear:left}DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap{float:left}DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap{float:right}DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap{float:right;clear:both}/*\*/* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text{height:1%}/**/ DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap{float:left;clear:both}/*\*/* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text{height:1%}/**/  .csc-textpic-intext-left ol, .csc-textpic-intext-left
ul{padding-left:40px;overflow:auto;height:1%}DIV.csc-textpic DIV.csc-textpic-imagerow-last{margin-bottom:0}
@media
all{*{margin:0;padding:0}option{padding-left:0.4em}* html body
*{overflow:visible}* html iframe, * html
frame{overflow:auto}* html
frameset{overflow:hidden}html{height:100%;margin-bottom:1px}body{font-size:100.01%;color:#000;background:#fff;text-align:left}fieldset,img{border:0
solid}ul,ol,dl{margin:0
0 1em 1em}li{margin-left:1.5em;line-height:1.5em}dt{font-weight:bold}dd{margin:0
0 1em 2em}blockquote{margin:0
0 1em 1.5em}#header{position:relative}#topnav{text-align:right}#header
#topnav{position:absolute;top:10px;right:10px}#header,#nav,#main,#footer{clear:both}#col1{float:left;width:200px}#col2{float:right;width:200px}#col3{width:auto;margin:0
200px}#col1_content,#col2_content,#col3_content{position:relative}.hideboth
#col3{margin-left:0;margin-right:0}.hidecol1
#col3{margin-left:0;margin-right:200px}.hidecol2
#col3{margin-left:200px;margin-right:0}.hideboth #col1, .hideboth #col2, .hidecol1 #col1, .hidecol2
#col2{display:none}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{display:block}.floatbox{overflow:hidden}#ie_clearing{display:none}.subcolumns{width:100%;overflow:hidden}.subcolumns_oldgecko{width:100%;float:left}.c50l,.c25l,.c33l,.c38l,.c66l,.c75l,.c62l{float:left}.c50r,.c25r,.c33r,.c38r,.c66r,.c75r,.c62r{float:right;margin-left: -5px}.c25l,.c25r{width:25%}.c33l,.c33r{width:33.333%}.c50l,.c50r{width:50%}.c66l,.c66r{width:66.666%}.c75l,.c75r{width:75%}.c38l,.c38r{width:38.2%}.c62l,.c62r{width:61.8%}.subc{padding:0
0.5em}.subcl{padding:0
1em 0 0}.subcr{padding:0
0 0 1em}.skip,.hideme,.print{position:absolute;top: -1000em;left: -1000em;height:1px;width:1px}.skip:focus,.skip:active{position:static;top:0;left:0;height:auto;width:auto}}
@media
all{body{margin:0px;background-color:#fff;background-image:url('http://static.gucken.org/fileadmin/templates/gehweg/gfx/head.jpg');background-repeat:repeat-x;background-position:8.5% 0}#page_margins{min-width:927px;max-width:104em;margin:0px
auto 38px auto;text-align:left}#page{margin-right:6em;position:relative}#header{margin-top:1.65em;background-image:url('http://static.gucken.org/fileadmin/templates/gehweg/gfx/bielefeld-gucken-being.gif');background-repeat:no-repeat}#header
h1{font-size:2.5em;letter-spacing:-1px;color:#fff;border-bottom:none}#header h1
a{padding-left:64px;color:#fff;text-decoration:none}#header h1
span{color:#f93}#header
h2{margin-top:0.35em;color:#f93;border-bottom:none}#header h2
a{color:#f93;text-decoration:none}#footer{margin-top:1.2em;color:#666;background:#fff;padding:15px}#main{margin-top:1.7em}#col2{width:23%;background-color:#fff}#col2_content{padding:14px
14px 14px 14px}#col3{margin:0
24% 0 0;background-color:#fff}#col3_content{padding:14px
28px 14px 14px}}
@media
all{html
*{font-size:100.01%}body{font-family:'Trebuchet MS',Verdana,Helvetica,Arial,sans-serif;font-size:75.00%;color:#333}h1,h2,h3,h4,h5,h6{font-family:Georgia,Times,"Times New Roman",serif;font-size:150%;display:block;font-weight:normal;padding:0px
2px 0px 2px;color:#000}.content{overflow:hidden;line-height:1.75em}h1{font-size:200%}h2{font-size:150%;margin-top:1em}h2
.headside{float:right;margin-top:3px;font-size:75%}h3{font-size:140%;border-bottom:1px solid #ddd;margin-top:0.8em}h3
.headside{float:right;margin-top:1px;font-size:75%;color:#d70}h4{font-size:133.33%}h5{font-size:116.67%}h6{font-size:116.67%;font-style:italic}.removeIcon{background-color:#ddd;background-repeat:no-repeat;background-position:1px 0px;background-image:url(http://static.gucken.org/typo3/sysext/t3skin/icons/gfx/closedok.gif);padding:2px
5px 2px 20px;font-family:'Trebuchet MS',Verdana,Helvetica,Arial,sans-serif;line-height:1em}a.removeIcon{color:#336 !important}p{text-indent:0em;line-height:1.75em;margin:1em
0 1.5em 0;max-width:70em}p.csc-linkToTop{margin:0.1em 0 0.5em 0;font-size:75%;clear:both}ul,ol,dl{line-height:1.75em;margin:1em
0 1.5em 1em}li{margin-left:1.75em;line-height:1.5em}#col2_content
li{margin-bottom:0.5em}ul
li{list-style-type:none;list-style-image:url(http://static.gucken.org/fileadmin/templates/gehweg/gfx/ul_arrow_single.png)}dt{font-weight:bold}dd{margin:0
0 1em 2em}textarea,pre,tt,code{font-family:"Courier New",Courier,monospace}cite,blockquote{font-style:italic}blockquote{margin:0
0 1em 1.5em;font-family:Times,"Times New Roman",serif;font-size:1.2em}div.indent{margin 0 0 1em 1,5em}strong,b{font-weight:bold}em,i{font-style:italic}pre,code{font-family:monospace;font-size:1.1em}acronym,abbr{letter-spacing: .07em;border-bottom: .1em dashed #666;cursor:help}.fl{float:left}.fr{float:right}.cb{clear:both}img.fl{margin:0
2em 1em 0}img.fr{margin:0
0 1em 2em}#header
#topnav{position:absolute;right:-7px !important;bottom:-3px;top:auto !important;font-weight:bold;font-size:150%;font-family:Georgia}#topnav
ul{display:inline;list-style-type:none;margin:0;padding:0}#topnav ul
li{display:inline;margin:0
0 0 0;padding:0}#topnav ul li
span{font-size:1.2em;font-weight:normal;padding:0
5px;color:#000}#topnav
a{color:#f93;font-weight:normal;background:transparent;text-decoration:none}#topnav a:focus,
#topnav a:hover,
#topnav a:active{text-decoration:underline;background-color:transparent}#footer{text-align:center}#footer
ul{margin:0;padding:0;display:inline}#footer ul
li{margin:0
10px 0;padding:0;display:inline}.detail{font-size:0.8em;color:#888}.note{background:#dfd;padding:1em;border-top:1px #bdb dotted;border-bottom:1px #bdb dotted}.important{background:#ffd;padding:1em;border-top:1px #ddb dotted;border-bottom:1px #ddb dotted}.warning{background:#fdd;padding:1em;border-top:1px #dbb dotted;border-bottom:1px #dbb dotted}.float_left{float:left;display:inline;margin-right:1em;margin-bottom:0.15em}.float_right{float:right;display:inline;margin-left:1em;margin-bottom:0.15em}.center{text-align:center;margin:0.5em auto}a{color:#d70;text-decoration:underline}a:focus,a:hover,a:active{color:#c00;text-decoration:underline}a:visited{color:#900}table{width:auto;border-collapse:collapse;margin-bottom:0.5em}table.full{width:100%}table.fixed{table-layout:fixed}table.contenttable tr
td{border:1px
solid #666;height:35px;width:10%}table.contenttable tr td
p{margin:0px}th,td{padding:0.45em}thead
th{background:#ddd;color:#333}hr{color:#fff;background:transparent;margin:0
0 0.5em 0;padding:0
0 0.5em 0;border:0;border-bottom:1px #ddd solid}.csc-header{clear:both}fieldset.csc-mailform
dd{margin:0
0 0.5em 0.5em}fieldset.csc-mailform-subset{border:1px
solid #ddd;padding:0.3em;margin-top:0.8em}fieldset.csc-mailform-subset-n1{width:55%}fieldset.csc-mailform-subset-n2{width:40%}fieldset.csc-mailform-subset-n1{margin-right:1em;float:left}fieldset.csc-mailform-subset-n2{float:right}fieldset.csc-mailform-subset-n3{clear:both}fieldset.csc-mailform-subset
legend{margin:0
0.3em;font-size:1.2em}fieldset.csc-mailform-subset
dl{margin:0
0.3em}fieldset.csc-mailform-subset dt
sup{line-height:0;color:#c00}fieldset.csc-mailform-subset .csc-mailform-text, .csc-mailform-subset
input.inputText{width:90%}fieldset.csc-mailform-subset .csc-mailform-textarea, fieldset.csc-mailform-subset
textarea{width:90%}fieldset.csc-mailform-subset
select{width:92.5%}fieldset.csc-mailform-subset
select.dateselect{width:auto}fieldset.csc-mailform-subset
input.date{width:35%}fieldset.csc-mailform-subset
input.time{width:18%}fieldset.csc-mailform-subset
textarea#tx_eventcollab_pi3_description{height:12.35em}fieldset.csc-mailform-subset
dd.error{color:#c00}.errorField{background-color:#ff0}.csc-mailform-subset
input.submit_tx_eventcollab_pi3{float:right;background-image:url(http://static.gucken.org/fileadmin/templates/gehweg/gfx/small-button.png);color:#f93;border:0px
!important;height:26px;width:188px;padding:2px
2px 3px 2px;margin-right:1.7em}.tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-text, .csc-mailform-text, .csc-mailform-textarea,
.csc-mailform-subset input.inputText, .csc-mailform-subset textarea, .csc-mailform-subset
select{border:1px
solid #ddd;border-color:#aaa #ddd #ddd #aaa;font-size:1.2em;font-weight:normal;font-family:inherit;color:#333;padding:3px}.csc-mailform-subset select option, .csc-mailform-subset select
optgroup{background-color:#fff}.tx-srfeuserregister-pi1 input.tx-srfeuserregister-pi1-submit, .csc-mailform-submit, .csc-mailform-subset
input.submit{border:1px
solid #ddd;background-color:#fff;color:#d70;font-weight:bold;font-family:inherit;padding:2px
2px 3px 2px}ul.tagcloud{list-style-type:none;display:block;text-align:center;margin:0;padding:0;font-size:1.2em}ul.tagcloud
li{margin:0
10px 0 0;padding:0;list-style-type:none;display:inline}ul.tagcloud li
a.selected{font-weight:bold}ul.tagcloud
li.w1{font-size:0.7em}ul.tagcloud
li.w2{font-size:1.0em}ul.tagcloud
li.w3{font-size:1.3em}ul.tagcloud
li.w4{font-size:1.6em}ul.tagcloud
li.w5{font-size:1.9em}dl.calendarList{margin:0.5em 0 1.5em;padding:0}dl.calendarList
dt{float:left;clear:both}dl.calendarList
dd{float:left;width:80%}.calendarSheet{margin-left:-3px;margin-bottom:1.5em;display:block;height:83px;width:84px;position:relative;background-image:url(http://static.gucken.org/fileadmin/templates/gehweg/gfx/kalender-red.png);background-repeat:no-repeat;font-family:Georgia,serif;font-variant:small-caps;font-size:1.75em;color:white;text-align:center;padding-top:6px}.calendarSheet
span{display:none}.calendarSheet
em{display:block;width:84px;position:absolute;bottom:10px;left:0px;font-style:normal;font-size:0.6em;color:#666}.calendarSheet
b{display:block;width:84px;position:absolute;bottom:37px;left:0px;font-size:1.4em;font-variant:small-caps;color:#000}div.indent{margin:1em
4em 1em 4em}table.daylist{width:100%}table.daylist
thead{position:absolute;top:-1000em}table.daylist tbody tr
td{background-color:#fcfcfc;border-bottom:1px solid #fff}table.daylist tbody tr.odd
td{background-color:#eaece9}table.daylist tbody tr.cancelled
td{text-decoration:line-through}table.daylist tbody
td.time{font-weight:bold;width:10%}table.daylist tbody
td.title{width:50%}table.daylist tbody
td.type{width:11%}table.daylist tbody
td.location{width:28%}table.daylist
abbr{letter-spacing:normal;border-bottom:none;cursor:auto}div.singleEvent.cancelled h2, div.singleEvent.cancelled
h3{text-decoration:line-through}.typo3-editPanel{display:none}.tx-eventcollab-pi2 .typo3-editPanel{display:table}ul.imageList,
ul.imageList
li{margin:0px;padding:0px;list-style-type:none;list-style-image:none}ul.imageList{display:block;margin-top:5px;text-align:center}ul.imageList
li{padding:0px
4px 6px 0px;display:inline}ul.imageList li
img{border:1px
solid #ccc}.frame{position:relative}.frame .ftop, .frame
.fbottom{background-image:url('http://static.gucken.org/fileadmin/templates/gehweg/gfx/border-h.png');height:9px;width:100%;background-repeat:repeat-x;position:absolute}.frame .fleft, .frame
.fright{background-image:url('http://static.gucken.org/fileadmin/templates/gehweg/gfx/border-v.png');height:100%;width:9px;background-repeat:repeat-y;position:absolute}.frame .ftopleft, .frame .ftopright, .frame .fbottomright, .frame
.fbottomleft{background-image:url('http://static.gucken.org/fileadmin/templates/gehweg/gfx/edges.png');height:9px;width:9px;background-repeat:no-repeat;position:absolute}.frame
.ftop{top:0px;left:0px;margin-top:-9px}.frame
.fbottom{bottom:0px;left:0px;margin-bottom:-9px;background-position:0px -9px}.frame
.fright{right:0px;top:0px;margin-right:-9px;background-position:-9px 0px}.frame
.fleft{left:0px;top:0px;margin-left:-9px}.frame
.ftopleft{left:0px;top:0px;margin-left:-9px;margin-top:-9px}.frame
.ftopright{right:0px;top:0px;margin-right:-9px;margin-top:-9px;background-position:-9px 0px}.frame
.fbottomright{right:0px;bottom:0px;margin-right:-9px;margin-bottom:-9px;background-position:-9px -9px}.frame
.fbottomleft{left:0px;bottom:0px;margin-left:-9px;margin-bottom:-9px;background-position:0 -9px}}
.news-single-item{}.news-single-item
h3{font-size:116.667%;border-bottom:#fff 0px none}.news-single-item .news-single-img .one-img{border:2px
solid #eee;border-width:2px 1px 1px;border-color:#f4f4f4 #d4d4d4 #cfcfcf;background-color:#fcfcf8;padding:10px
12px 5px;float:right;clear:right;margin:0.35em 0 1.8em 1.8em}.news-single-item .news-single-imgcaption{clear:right;margin:0;text-align:center}.news-single-item .news-single-author{display:inline}.news-single-item .news-single-additional-info
p{margin:0
0 0 0.35em}.news-list-item{clear:both;margin-bottom:2em;margin-top:1.4em}.news-list-item
h3{clear:both;margin-top:0em;border-bottom-color:#000}.news-list-item a
img{float:right;margin:0
0 0 1.5em}.news-list-item.odd a
img{float:left;margin:0
1.5em 0 0}.news-amenu-container ul li.news-amenu-item-year{list-style-image:none;margin-left:0.5em;font-weight:bold}

td.inactive a {text-decoration: line-through;}
#dialog {
	background-color: white;
}

a.button {display:inline-block;}
div.events-and-factoids div.item {
	margin-bottom: 8px;
	background-color:#eaece9;
	border-radius:5px;
}

div.events-and-factoids div.events > div.item {
	background-color:none;
}

div.events-and-factoids div.item div.head {	
	background-color:#ddd;
	
	border:0px;
	border-bottom:1px solid #333;
	border-radius:5px;	
	padding:2px 0 0 5px
}

div.events-and-factoids div.item div.head > span {
	display:inline-block;
	font-weight:bold;
}

div.events-and-factoids div.item div.head > span.startdatetime {
	width:10em;
}

div.events-and-factoids div.item div.head > span.location {
	width:14em;
}

div.events-and-factoids div.item div.head > span.source {
	width:14em;
}

div.events-and-factoids div.item div.factoid {
	padding:2px 10px 4px 5px;
	margin-left:20px;
}
div.events-and-factoids div.item div.factoid a.title {
	display:inline-block;
	width:26em;
}

div.events-and-factoids div.item div.factoid span.importdatetime {
	display:inline-block;
	width:6em;
}

div.events-and-factoids div.item div.factoid span.type {
	display:inline-block;
	width:5em;
}


div.events-and-factoids > div.events {
	float:left;
	width:49%;
}

div.events-and-factoids > div.factoids {
	float:right;
	width:49%;
}
/*
.tooltip {
	display:none;
	border:1px solid #ccc;
	border-radius: 5px;
	background-color:#fff;
}
*/
.ui-cluetip-content {
	overflow-y:auto;
}

span.grip {
	cursor:move;
}

div.identities {
	padding:5px 1px 5px 10px;
	background-color:#999;
}
.dropaccept {
	color:#eee;
	background-color:#666;
}

.drophover {
	color:#fff;
	background-color:#333;	
}

.events.dropaccept {
	padding-bottom: 20px;
	padding-top: 20px;
}

.events a.convert {
	display:none; 
}