<dl>
    <dt>
        <label for="name">Name:</label>
    </dt>
    <dd>
        <f:form.textfield id="name" property="name" />
    </dd>
    <dt>
        <label for="description">Description:</label>
    </dt>
    <dd>
        <f:form.textfield id="description" property="description" />
    </dd>
    <dt>
        <label for="url">URL:</label>
    </dt>
    <dd>
        <f:form.textfield id="url" property="url" />
    </dd>
    <dt>
        <label for="email">E-Mail:</label>
    </dt>
    <dd>
        <f:form.textfield id="email" property="email" />
    </dd>	
    <dt>
        <label for="telephone">Telephone:</label>
    </dt>
    <dd>
        <f:form.textfield id="telephone" property="telephone" />
    </dd>	
    <dt>
        <label for="faxNumber">Fax:</label>
    </dt>
    <dd>
        <f:form.textfield id="faxNumber" property="faxNumber" />
    </dd>	
	<f:comment>
    protected $image;
    protected $address;
    protected $geo;		
	</f:comment>	
    <dt>
        Address
    </dt>
    <dd>
        <dl>
            <dt>
                <label for="address_streetAddress">Street</label>
            </dt>
            <dd>
                <f:form.textfield id="address_streetAddress" property="address.streetAddress" />
            </dd>
            
            <dt>
                <label for="address_postalCode">Postalcode</label> /
                <label for="address_addressLocality">City</label>
            </dt>
            <dd>
                <f:form.textfield id="address_postalCode" property="address.postalCode" />
                <f:form.textfield id="address_addressLocality" property="address.addressLocality" />
            </dd>
            
        </dl>
    </dd>

	
</dl>
