<dl>
	<dt>
        <label for="externalIdentifiers">External Identifiers:</label>
    </dt>
    <dd>             
        <ol>            
            <f:for each="{location.externalIdentifiers}" as="externalIdentifier" key="i">
                <li>
					<a href="{externalIdentifier.url}">{externalIdentifier}</a>
                </li>                                        
            </f:for>
            <li>	
				<f:alias map="{i:location.externalIdentifierCount}">		
					<f:form.select class="externalIdentifierScheme" property="externalIdentifiers.{i}.__type"  options="{externalIdentifiers}" />
					<f:form.textfield property="externalIdentifiers.{i}.id" />
					<f:form.hidden property="externalIdentifiers.{i}.location" value="{location}"/>
					<span class="selectHolder" data-url="{f:uri.action(action:'lookup',format:'html',arguments:{location:location, position:i, type:''})}">
						{externalIdentifier.id}
					</span>
				</f:alias>	
            </li>                        
        </ol>
    </dd>            
    <dt>
        <label for="keywords_{location.keywords -> f:count()}_keyword">Keywords:</label>
    </dt>
    <dd>             
        <ol>            
            <f:for each="{location.keywords}" as="keyword" key="i">
                <li>{keyword}</li>                                 
            </f:for> 
            <li class="autoadd" data-autoadd='{"selector":"input.autoadd-listen","event":"change"}'>
                <f:form.textfield property="keywords.{location.keywords -> f:count()}.keyword" id="keywords_{location.keywords -> f:count()}_keyword" class="autoadd-listen" />
                <f:form.hidden  property="keywords.{location.keywords -> f:count()}.location" value="{location}" />
				<f:form.hidden  property="keywords.{location.keywords -> f:count()}.locationId" value="{location.name}{location.url}" />
            </li>                        
        </ol>
    </dd>            
</dl>