{namespace e=Org\Gucken\Events\ViewHelpers}
<div class="item identity" id="identity_{e:identifier(object:identity)}" data-mergeurl="{f:uri.action(controller:'factoidConvert',action:'merge',arguments:{identity:identity})}">
	<div class="head">
		<span class="grip ui-icon ui-icon-grip-dotted-vertical"> </span>
		<!-- <input type="checkbox"  name="arguments[][__identity]" id="action_{e:identifier(object:identity)}" value="{e:identifier(object:identity)}" />-->		
		<f:link.action class="button trash" controller="factoidConvert" action="skip" arguments="{identity:identity}">delete</f:link.action>
		<f:link.action class="button convert" controller="factoidConvert" action="convert" arguments="{identity:identity}">convert</f:link.action>
		<span class="startdatetime">{identity.startDateTime -> f:format.date(format:'d.m. H:i')}</span>
		<span class="location">
			<f:if condition="{identity.location}">
				<f:then>{identity.location.name}</f:then>
				<f:else>
					<f:if condition="{identity.source.canConvertLocation}">
						<f:link.action controller="location" action="addFromSource" arguments="{source:identity.source,factoid:identity.factoids.0}" style="float:right;">&lt;--&nbsp;</f:link.action>
					</f:if>
				</f:else>
			</f:if>
		</span>
		<span class="source">{identity.source.name}</span>
		<f:if condition="{identity.event}">E</f:if>
	</div>
	<f:for each="{identity.factoids}" as="factoid">						
		<div class="factoid">
			<f:link.action class="button trash" controller="factoidConvert" action="deleteFactoid" arguments="{identity:identity,factoid:factoid}">delete</f:link.action>
			<f:link.action class="button details" controller="factoidConvert" action="detailFactoid" arguments="{identity:identity,factoid:factoid}" title="{factoid.title}">details</f:link.action>
			<f:link.external class="title" uri="{factoid.url}" title="{factoid.title}">{factoid.title -> f:format.crop(maxCharacters:40,append:'…')}</f:link.external>
			<span class="type">{factoid.type.title}</span>
			<span class="importdatetime">{factoid.importDateTime -> f:format.date(format:'d.m. H:i')}</span>							
		</div>
	</f:for>
</div>
